.navbar{
    border:transparent;
    background-color: transparent;
    transition: all 0.6s;
    color: #29292D;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-right > li > a,
.navbar .navbar-right > li > a:hover{
    color: #29292D;
    font-size: 1.15em;
    font-weight: bold;
    height: auto;
}

.navbar .navbar-brand:hover,
.navbar .navbar-right> li > a:hover {
    border-bottom: 2px solid #29292D;
}

.navbar.solid {
    background-color: #29292D;
    color: #D1D2D2;
}

.navbar.solid .navbar-brand,
.navbar.solid .navbar-right > li > a{
    color: #D1D2D2;
}

.navbar.solid .navbar-brand:hover,
.navbar.solid .navbar-right > li > a:hover {
    border-bottom: 3px solid #BFBFBF;
}

.navbar.solid .navbar-right > .active > a{
    border-bottom: 3px outset #222222;
    color: #29292D;
    background-color: #D1D2D2;
}

.navbar .container-fluid .navbar-brand.nav-icon{
    text-align: center; 
    font-size: 23px; 
    padding-left: 15px; 
    padding-right: 15px; 
    cursor: pointer;
}

.navbar-brand.nav-link{
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

#awesome-page-header { 
    position: relative;
    background: url("../img/cover.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom: 18px solid #29292D; 
    margin-bottom: 0px;
}

#awesome-page-header >.container{
    margin-bottom: 0px;
}

#awesome-page-header h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top:100px;
}

#awesome-page-header h3{
    margin-bottom: 120px;
}

#about {
    margin-top: 0px;
    display: none;
    background-color: #29292D; 
    position:relative;
    padding-bottom: 0;
    color: #FEFEFE;
}

#about h2{
    text-align: left; 
    font-size: 4.2em;
}

#about p{
    text-align: justify;
}

#about img{
    height: 16em;
    margin-top: 20px;
} 

#experience img{
    margin: 100px auto 80px;
}

#resume{
    margin-bottom: 160px;
}

.close-bar{
    width:100%;
}

.close-bar span{
    display:block;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.jumbotron h1{
    font-size: 6em;
}

.btn{
    transition: all 0.4s;
}

.btn.btn-default,.btn.btn-default.active:hover{
    background-color: transparent;
    border: 2px solid #29292D;
    color: black;
}

.btn.btn-default:hover, .btn.btn-default.active{
    background-color: #29292D ;
    color: white;
}

body {
	background-color: #FEFEFE;
    font-family: 'Alegreya Sans', sans-serif;
}

.container{
	text-align: center;
    margin-bottom: 60px;
}

.container .left{
	text-align:justify;
}

footer{
	background-color: #29292D ;
    border-top: 2pc outset #080808;
}
#footer-text{
    color: #D1D2D2;
}