.navbar-inverse {
    border-bottom:0.14em outset #848484;
}

.navbar > .container-fluid .navbar-brand.nav-icon{
    text-align: center; 
    font-size: 25px; 
    margin-left: 0px; 
    padding-left: 0px; 
    padding-right: 0px; 
    color: white;
}
.navbar a.navbar-brand.nav-link{
    padding: 0px; margin-left: 0px;
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 1.24em;
    color: #F2F2F2;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #f2f1ef;
    background-color:#848484;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #f2f1ef;
    background-color: #848484;
}
.navbar-right{
	margin-right: 0px;
}
#awesome-page-header { 
    position: relative;
    background: url("../img/cover.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom: 20px solid rgb(16, 16, 16); margin-bottom: 0px;
}
#awesome-page-header >.container{
    margin-bottom: 0px;
}

#awesome-page-header > .container h1{
    margin-top:100px;
}

#awesome-page-header > .container h3{
    margin-bottom: 120px;
}

.jumbotron{
    background-color: #DCDCDC; 
    position:relative;
}
.jumbotron h1{
    font-size: 8em;
}

.dropdown-button, .dropdown-button.active:hover, .dropdown-button:focus{
    background-color: transparent;
    border: 2px solid rgb(34, 34, 34);
}
.dropdown-button:hover, .dropdown-button.active, .dropdown-button.active:focus{
    background-color: #101010;
    color: white;
}

body {
	background-color: #FFFFF0;
}

.container{
	text-align: center;
    margin-bottom: 60px;
}

.container .left{
	text-align:justify;
}

footer{
	background-color: #101010;
    border-top:0.14em outset #080808;
}
#footer-text{
    color: #F2F2F2;
}