.navbar-inverse {
    border-bottom:0.14em outset #848484;
    background-color: #29292D;
}

.navbar > .container-fluid .navbar-brand.nav-icon{
    text-align: center; 
    font-size: 23px; 
    margin-left: 0px; 
    padding-left: 0px; 
    padding-right: 0px; 
    color: #D1D2D2;
}
.navbar a.navbar-brand.nav-link{
    padding: 0px; margin-left: 0px;
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 1.15em;
    color: #D1D2D2;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #29292D;
    background-color:#BFBFBF;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom:0.14em outset #222222;
    color: #29292D;
    background-color: #BFBFBF;
}
.navbar-right{
	margin-right: 0px;
}
#awesome-page-header { 
    position: relative;
    background: url("../img/cover.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom: 20px solid #29292D; margin-bottom: 0px;
}
#awesome-page-header >.container{
    margin-bottom: 0px;
}

#awesome-page-header > .container h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top:100px;
}

#awesome-page-header > .container h3{
    margin-bottom: 120px;
}

.jumbotron.intro{
    background-color: #DCDCDC; 
    position:relative;
    padding-bottom: 0;
}

.close-bar{
    width:100%;
}
.close-bar span{
    display:block;
    text-align: center;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}

.jumbotron h1{
    font-size: 6em;
}

.btn.btn-default,.btn.btn-default.active:hover, .btn.btn-default:focus{
    background-color: transparent;
    border: 2px solid #29292D;
    color: black;
}
.btn.btn-default:hover, .btn.btn-default.active, .btn.btn-default.active:focus{
    background-color: #29292D ;
    color: white;
}

body {
	background-color: #FFFFF0;
    font-family: 'Alegreya Sans', sans-serif;
}

.container{
	text-align: center;
    margin-bottom: 60px;
}

.container .left{
	text-align:justify;
}

footer{
	background-color: #29292D ;
    border-top:0.14em outset #080808;
}
#footer-text{
    color: #D1D2D2;
}