.navbar.mobile {
    border-bottom: 1px solid #FEFEFE;
}

.mobile #myNavbar {
    border: 1px solid #FEFEFE;
}

.navbar {
    border: transparent;
    background-color: transparent;
    transition: all 0.6s;
    color: #FEFEFE;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-right>li>a, .navbar .navbar-right>li>a:hover {
    color: #FEFEFE;
    font-size: 1.15em;
    font-weight: bold;
    height: auto;
}

.navbar .navbar-brand:hover, .navbar .navbar-right>li>a:hover {
    border-bottom: 2px solid #FEFEFE;
}

.navbar.solid.navbar-inverse {
    background: #1184F0;
}

.navbar-toggle.collapsed {
    border-color: #FEFEFE;
}

.navbar.solid .navbar-brand, .navbar.solid .navbar-right>li>a {
    color: #FEFEFE;
}

.navbar.solid .navbar-brand:hover, .navbar.solid .navbar-right>li>a:hover {
    background-color: #1184F0;
    border-bottom: 3px solid #0D47A1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    border-bottom: 3px solid #0D47A1;
    color: #FEFEFE;
    background-color: #29292D;
}

.navbar .container-fluid .navbar-brand.nav-icon {
    text-align: center;
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.navbar-brand.nav-link {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

canvas {
    position: absolute;
    z-index: 0;
}

#wave-canvas {
    z-index: 1;
    top: 0;
}

#flow-canvas {
    top: 0;
}

#footer-canvas {
    left: 0;
}

#awesome-page-header {
    position: relative;
    background: #1184F0;
    min-height: 550px;
    border-bottom: 18px solid #29292D;
    margin-bottom: 0px;
}

#awesome-page-header>.container {
    position: relative;
    margin-bottom: 0px;
    z-index: 2;
    color: #FEFEFE;
}

#awesome-page-header h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 100px;
}

#awesome-page-header h3 {
    margin-bottom: 120px;
}

#about {
    margin-top: 0px;
    display: none;
    position: relative;
}

#about .jumbotron {
    background-color: #29292D;
    color: #FEFEFE;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#about h2 {
    text-align: left;
    font-size: 4.2em;
}

#about p {
    text-align: justify;
    margin-bottom: 0px;
}

#about img {
    height: 16em;
    margin-top: 20px;
}

#about .row {
    margin-bottom: 66px;
}

#experience img {
    min-width: 300px;
    margin: 100px auto 80px;
}

.close-bar {
    width: 100%;
}

.close-bar span {
    display: block;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.jumbotron h1 {
    font-size: 6em;
}

.btn {
    transition: all 0.4s;
}

.btn.btn-default, .btn.btn-default.active:hover {
    background-color: transparent;
    border: 3px solid #FEFEFE;
    color: #FEFEFE;
}

.btn.btn-default:hover, .btn.btn-default.active {
    border: 3px solid #29292D;
    background-color: #29292D;
    color: #FEFEFE;
}

body {
    background-color: #FEFEFE;
    font-family: 'Alegreya Sans', sans-serif;
}

.container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
}

#education {
    margin-bottom: 60px;
}

.clear {
    clear: both;
}

.container .content {
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

span.dotted {
    border-bottom: 1px dotted #29292D;
}

.popover {
    max-width: 100%;
}

p.align-right {
    text-align: right;
    margin-right: 15px;
}

footer {
    background-color: #29292D;
    border-top: 2px outset #080808;
    text-align: center;
    color: #D1D2D2;
    padding-bottom: 20px;
}

footer>div.container {
    position: relative;
    z-index: 1;
}

footer h1 {
    font-size: 3em;
}

footer a {
    color: #D1D2D2;
}

footer a:hover {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
