.navbar-inverse {
    border-bottom:0.23em outset #848484;
}

#Icon{
	font-size: 1.5em;
	font-weight: bold;
	color: #F2F2F2;
	background-color:#848484;
	border-left:0.1em inset #f2f1ef;
	border-bottom: 0.1em outset #f2f1ef;
	border-right: 0.1em outset #f2f1ef;
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 1em;
    color: #F2F2F2;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #f2f1ef;
    background-color:#848484;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	border-left:0.2em inset #f2f1ef;
    border-bottom: 0.2em outset #f2f1ef;
    border-right: 0.2em outset #f2f1ef;
    color: #f2f1ef;
    background-color: #848484;
}
.navbar-right{
	margin-right: 0px;
}
.jumbotron{
	background-color: #6E6E6E;
	border-bottom: 0.25em solid #D8D8D8;
	padding-top: 2%;
    margin-bottom: 30px;
    padding-bottom: 0.5%;
}

#intro-name{
	margin-left: 15%;
	padding-left: 0px;
}
.jumbotron h1{
	color:#F2F2F2;
	font-size:7em;
	margin-left:15%;
}

.jumbotron h3{
	color:#F2F2F2;
	clear:right;
	margin-left:15%;
}

body {
	background-color: #FFFFF0;
}

.container{
	text-align: center;
}

.container .left{
	text-align:justify;
}

footer{
	background-color: #6E6E6E;
    border-top:0.23em outset #848484;
}
#footer-text{
    color: #F2F2F2;
}